@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
  background-color: #ebfafa;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #ebfafa;
}

.topBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #25E3E3;
  box-shadow: 0px 1px 1px grey;
  z-index: 1;
}

#searchInput {
  display: table;
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #1acbcb;
  border: .5px solid #25E3E3;
  box-shadow: 2px 2px 2px grey;
  border-radius: 15px;
  opacity: .8;

}

.inputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: inherit;
}

.input {
  height: 70%;
  width: 80%;
  margin-right: 5px;
  border: .5px solid black;
  box-shadow: 1px 1px 1px grey;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
}

#submitButton {
  width: 40%;
  height: 40px;
  background-color: orange;
  font-size: 20px;
  font-family: 'Bangers';
  color: white;
  text-shadow: 2px 2px 2px black;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  overflow: auto;
}

text {
  font-family: 'Bangers';
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #ff6666;
  margin-right: 20px;
}

text.providerLabel {
  font-size: 20px;
}

text.message {
  font-size: 25px;
  color: red;
  text-shadow: 1.5px 1.5px black;
}

h1 {
  font-family: 'Bangers';
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px #ff6666;
}

li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 50px;
  width: auto;
  border: .5px solid black;
  box-shadow: 1px 1px 1px grey;
  border-radius: 5px;
  width: 90%;
}

span {
  font-size: 15px;
}

span.name {
  margin-right: auto;
  margin-left: 2%;
}

span.specialty {
  margin-right: 10%;
}

span.orders {
  margin-left: 2%;
}

span.dist {
  margin-left: 30%;
  margin-right: 1%;
  color: green;
  font-weight: bold;
}

h5 {
  font-size: 15px;
  color: green;
  margin-right: 10px;
}

h6 {
  font-size: 15px;
  margin-left: 20px;
  font-weight: 500;
}

.providerContainer {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 95%;
}

.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
